:root {
    --primary-color: rgb(157, 240, 243);
    --secondary-color: #2a3a42;
    --tertiary-color: #df4d59;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
}

.header-text-box {
    margin: 10px 0;
    background: var(--primary-color);
}

header h1 {
    margin: 15px 10px 5px 50px;
    font-weight: bold;
    font-size: 2vw;
    color: var(--secondary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.95vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero {
    display: flex;
    min-height: 250px;
    background-image: url("./images/starbirth.jpg");
    background-size: cover;
    justify-content: flex-end;
    padding: 20px;
}

.hero h2 {
    color: var(--secondary-color);
    display: flex;
    align-self: flex-end;
    padding: 7px;
    font-size: 24px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
}

.grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 15px;
}

.grid-container {
    max-width: 940px;
    grid-gap: 10px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "about-me bio bio bio bio" "work img-1 img-1 img-1 img-2" "work img-1 img-1 img-1 img-3" "work img-4 img-5 img-5 ." "contact contact-info contact-info contact-info contact-info";
}

.grid-item {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 2px solid var(--secondary-color);
}

.about-me {
    grid-area: about-me;
    grid-column: 1;
    grid-row: 1;
}

.bio {
    grid-area: bio;
    grid-column: 2/span 7;
    grid-row: 1;
}

.work {
    grid-area: work;
    grid-column: 1;
    grid-row: 2/span 3;
}

.img-1 {
    display: flex;
    align-self: auto;
    grid-area: img-1;
    grid-column: 2/span 5;
    grid-row: 2/4;
    background-image: url(./images/NebulaTracker.png);
    background-size: cover;
    background-position: 60% 60%;
    border: 4px solid var(--primary-color);
    background-size: initial;
}

.img-text {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    padding: 0 15px;
    border: 4px solid var(--secondary-color);
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 5px;
}

.grid-item-row {
    display: flex;
    align-self: auto;
    background-size: cover;
    background-position: 60% 60%;
    border: 4px solid var(--primary-color);
    background-size: initial;
}

.img-2 {
    grid-area: img-2;
    grid-column: 7/span 2;
    grid-row: 2;
}

.img-3 {
    grid-area: img-3;
    grid-column: 7/span 2;
    grid-row: 3;
}

.img-4 {
    grid-area: img-4;
    grid-column: 2/span 2;
    grid-row: 4;
}

.img-5 {
    grid-area: img-5;
    grid-column: 4/span 2;
    grid-row: 4;
}

.contact {
    grid-area: contact;
    grid-column: 1;
    grid-row: 5;
}

.contact-info {
    grid-area: contact-info;
    grid-column: 2/span 7;
    grid-row: 5;
}