/* Header Styles */

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
}

.header-text-box {
    margin: 10px 0;
    background: var(--primary-color);
}

header h1 {
    margin: 15px 10px 5px 50px;
    font-weight: bold;
    font-size: 2vw;
    color: var(--secondary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.95vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}


/* Body Styles */

body {
    background-color: rgb(247, 247, 247);
}


/* Hero Styles */

.hero {
    display: flex;
    min-height: 250px;
    background-image: url("./images/starbirth.jpg");
    background-size: cover;
    justify-content: flex-end;
    padding: 20px;
}

.hero h2 {
    color: var(--secondary-color);
    display: flex;
    align-self: flex-end;
    padding: 7px;
    font-size: 24px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
}


/* Grid Styles */

.grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px;
}

.grid-container {
    max-width: 940px;
    gap: 40px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(5, .5fr);
    grid-template-columns: repeat(10, 3fr);
    grid-template-areas: "about-me bio bio bio bio" "work img-1 img-1 img-1 img-2" "work img-1 img-1 img-1 img-3" "work img-4 img-5 img-5 ." "contact contact-info contact-info contact-info contact-info";
}

.grid-item {
    padding: 0 20px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    color: var(--secondary-color);
    border-right: 2px solid var(--secondary-color);
}

.grid-item-row {
    display: flex;
    align-self: auto;
    background-position: 60% 60%;
    border: 4px solid var(--primary-color);
    background-size: cover;
}


/* About Me and Bio Grid Styles */

.about-me {
    grid-area: about-me;
    grid-column: 1;
    grid-row: 1;
}

.bio {
    grid-area: bio;
    grid-column: 2/span 9;
    grid-row: 1;
}


/* Work Grid Styles */

.work {
    grid-area: work;
    grid-column: 1;
    grid-row: 2/span 3;
}

.img-1 {
    display: flex;
    align-self: auto;
    grid-area: img-1;
    grid-column: 2/span 6;
    grid-row: 2/span 2;
    background-image: url(./images/NebulaTracker.png);
    background-position: 60% 60%;
    border: 5px solid var(--primary-color);
    background-size: initial;
}

.img-text {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    padding: 0 15px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 0;
}

.img:hover {
    opacity: .7;
}

.img-2 {
    grid-area: img-2;
    grid-column: 8/span 3;
    grid-row: 2;
    background-image: url("./images/nodejs.png");
}

.img-3 {
    grid-area: img-3;
    grid-column: 8/span 3;
    grid-row: 3;
    background-image: url("./images/CoEdSoftball.png");
}

.img-4 {
    grid-area: img-4;
    grid-column: 2/span 3;
    grid-row: 4;
    background-image: url("./images/honeycomb.jpg");
}

.img-5 {
    grid-area: img-5;
    grid-column: 5/span 3;
    grid-row: 4;
    background-image: url("./images/run-buddyimg.png");
}


/* Contact Grid Styles */

.contact {
    grid-area: contact;
    grid-column: 1;
    grid-row: 5;
}

.contact-info {
    grid-area: contact-info;
    grid-column: 2/span 9;
    grid-row: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.contact-info {
    font-size: 1.2vw;
}

footer h5 {
    text-align: center;
}


/* Global Styles */

 :root {
    --primary-color: rgb(157, 240, 243);
    --secondary-color: #2a3a42;
    --tertiary-color: #df4d59;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}


/* Media Query: Mobile Phones And Smaller */

@media screen and (max-width: 575px) {
    * {
        margin: 5px;
    }
    .grid-item {
        font-size: 1em;
    }
    .bio {
        font-size: 1.75em;
    }
}


/* Media Query: Desktop Screens And Smaller */

@media screen and (max-width: 768px) {
    .bio {
        line-height: 2;
        font-size: 1.25em;
        padding: 10px;
    }
}


/* Media Query: Desktop Screens And Smaller */

@media screen and (max-width: 980px) {
    * {
        margin: 0 5px;
    }
    header {
        justify-content: flex-start;
    }
    header h1 {
        width: 100%;
        font-size: 2em;
    }
    header nav ul {
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
    }
    footer {
        font-size: 1em;
        width: 100%;
    }
    .contact-info {
        font-size: 2em;
        flex-direction: column;
    }
    .img-1,
    .grid-item-row {
        justify-content: space-between;
        line-height: 2px;
    }
    .img-text h3,
    .img-text h5 {
        margin: 15px;
        flex-direction: column;
        justify-items: space-evenly;
        overflow-wrap: center;
        width: 100%;
    }
    .grid-container {
        gap: 5px;
    }
    header nav ul li a {
        font-size: 1.45em;
    }
}