:root {
    --primary-color: rgb(157, 240, 243);
    --secondary-color: #2a3a42;
    --tertiary-color: #df4d59;
}

* {
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    z-index: 9999;
}

.header-text-box {
    margin: 10px 0;
    background: var(--primary-color);
}

header h1 {
    margin: 15px 10px 5px 50px;
    font-weight: bold;
    font-size: 32px;
    color: var(--secondary-color);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.95vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero {
    display: flex;
    height: 250px;
    background-image: url("./images/starbirth.jpg");
    background-position: 80%;
    justify-content: flex-end;
    padding: 20px;
}

.hero h2 {
    color: var(--secondary-color);
    display: flex;
    align-self: flex-end;
    padding: 7px;
    font-size: 24px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
}

.grid-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.grid-container {
    width: 80%;
    display: grid;
    /* repeat(iterator, size) */
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
}